/*bodi*/
.bg-body{
	margin:0;
	padding:0;
	font-family: sans-serif;
	background-color:#429654!important;
}

.kotak {
    box-shadow: -6px -6px 9px rgba(0,0,0,0.4);
    padding: 10px;
    border: 1px dashed grey;
}

/*box untuk mengatur ukuran from box*/
.box{
	width:300px;
	padding: 40px;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #ecf0f1;
	border-radius: 20px;
	text-align: center;
}

/*box untuk mengatur ukuran from email dan password*/
.box input[type="email"],.box input[type="Password"]{
	border: 0;
	background: none;
	display: block;
	margin:20px auto;
	text-align: center;
	border: 1px solid #000000;
	padding: 14px 18px;
	width: 200px;
	outline: none;
	/*color: white;*/
	border-radius: 24px;
	transition: 0.25s; 
}
/*box untuk mengatur ukuran from box submit*/
.box input[type="submit"]{
	border-radius: 10px;
	background: #006400;
	padding: 7px;
	color: white;
	width:98px;
	margin: 10px; 
}



/*box untuk mengatur icon*/
.simbol-input12{
    font-size: 15px;
    display: flex;
    align-items: center;
    position: fixed;
    border-radius: 7px;
    /* bottom: 0; */
    left: 0;
    width: 100%;
        margin-top: 10px;
    /* height: 105%; */
    padding-left: 546px;

}
/*box untuk mengatur icon*/
.simbol-input{	
    font-size: 15px;
    display: flex;
    align-items: center;
    position: fixed;
    border-radius: 7px;
    /* bottom: 0; */
    left: 0;
    width: 100%;
        margin-top: 10px;
    /* height: 105%; */
    padding-left: 546px;
}