body{
	margin:0;
	padding:0;
	font-family: sans-serif;
	background: #98FB98;
}
/*.container{
width: 200px;
min-height: 200px;
}
*/

.card{

	width:500px;
	transform: translate(+60%);
	top: 80px;
	border-radius: 18px;
	padding: 4px;
}  
/*
}.card input[type="text"]{*/
	/*border: 0;*/
	/*margin: 3px;*/
	/*border: 1px solid #000000;*/
	/*border-radius: 10px;
	width: 29rem; 
	padding:;
	}*/
	.card img{
		width: 45px;
		margin: 0.5em;
		



	}
	.card button{
		border-radius: 10px;
		width: 5rem;

	}